<body>
  <nav
    class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
    style="box-shadow: 0px 0px; background: rgba(255, 255, 255, 0);"
  >
    <div class="container">
      <a
        class="navbar-brand logo"
        href=""
        style="
          background: url('../../assets/img/Logo-sesame-Corporate.png') center /
            contain no-repeat;
        "
        >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp;</a
      ><button
        data-toggle="collapse"
        class="navbar-toggler float-right"
        data-target="#navcol-1"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navcol-1"
        style="max-width: 662.375px; margin-left: 0px; padding-left: 0px;"
      >
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" style="margin-left: 31px;">
            <a class="nav-link active" href="">Home</a>
          </li>

          <li class="nav-item" style="margin-left: 31px; cursor: pointer;">
            <a class="nav-link">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="padding-top: 110px;">
    <div class="container">
      <h1 class="heading"><span>meet</span>Our Team</h1>

      <div class="profiles">
        <div class="profile">
          <img src="../../assets/img/yosra.png" class="profile-img" />

          <h3 class="user-name">Yosra Hammami</h3>
          <h5>Product owner</h5>
          <p>
            Associate Professor and Responsible in monitoring students
            internships educational program coordination with entreprises.
          </p>
          <p>yosra.hammami@sesame.com.tn</p>
        </div>
        <div class="profile">
          <img
            src="../../assets/img/ourTeamSamyphoto.jpg"
            class="profile-img"
          />

          <h3 class="user-name">Samy BenChaalia</h3>
          <h5>Scrum master,Full stack web develope</h5>
          <p>
            Computer engineering student at Sesame University, Founder and Coo
            at Tynass It.
          </p>
          <p>sami.benchaalia@tynass.com</p>
          <p>+216 95759234</p>
        </div>
        <div class="profile">
          <img src="../../assets/img/IMG_9244.jpg" class="profile-img" />

          <h3 class="user-name">Halim Boussada</h3>
          <h5>Full stack web developer</h5>
          <p>
            Freshly graduated full stack web developer, also have a bachlor
            degree in electrical engineering.
          </p>
          <p>halimboussada10@gmail.com</p>
          <p>+216 58065605</p>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="heading"><span>Our</span>Team Designers</h1>

      <div class="profiles">
        <div class="profile">
          <img src="../../assets/img/karim.jpg" class="profile-img" />

          <h3 class="user-name">Karim Hermi</h3>
          <h5>UX/UI Designer</h5>
          <p>
            CEO and Co-founder @Tynass It,graduate in multimedia communication
            skilled in mobile developement
          </p>
          <p>karim.hermi@tynass.com</p>
          <p>+216 99104604</p>
        </div>
        <div class="profile">
          <img src="../../assets/img/Hamdi.jpg" class="profile-img" />

          <h3 class="user-name">Hamdi BOUROUNIA</h3>
          <h5>java full-stack developer</h5>
          <p>
            IT engineer student at SESAME UNIVERSITY. In 2020, I graduated from
            the Faculty Of Economics and Management of Nabeul with an applied
            license in IT applied to management. Passionate about IT and new
            technologies, with strong technical and interpersonal skills to work
            in a team and carry out a project.
          </p>
          <p>hamdi.bourounia@sesame.com.tn</p>
          <p>+216 55419494</p>
        </div>
        <div class="profile">
          <img src="../../assets/img/sahar.jpg" class="profile-img" />

          <h3 class="user-name">Sahar El Amri</h3>
          <h5>Full stack web developer</h5>
          <p>
            third-year software engineering student at sesame universty. Besides
            the skills gained all along my engineering years of studies, I am
            deeply passionate about having an UI/UX Designer cap which led me to
            work on the design of several projects.
          </p>
          <p>sahar.elamri@sesame.com.tn</p>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="heading"><span>Also</span>collaboratted in this project</h1>

      <div class="profiles">
        <div class="profile">
          <img src="../../assets/img/yasmine.png" class="profile-img" />

          <h3 class="user-name">Yasmine Karray</h3>
          <h5>IEEE SESAME Student Branch Chairwomen</h5>
          <p>
            A computer engineering student having demonstrated undeniable
            leadership abilities, creative and adaptable skills.
          </p>
          <p>yasmine.karray@sesame.com.tn</p>
        </div>
        <div class="profile">
          <img src="../../assets/img/saif.png" class="profile-img" />

          <h3 class="user-name">Zakhama Saif Eddine</h3>
          <h5>web full-stack developer</h5>
          <p>
            computer engineering student , ex chair man in IEEE SESAME SB
          </p>
          <p>saifeddine.zakhama@sesame.com.tn</p>
          <p>+216 55419494</p>
        </div>
      </div>
    </div>
  </div>

  <footer id="footerpad" style="margin-top: 13px; padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8 mx-auto" style="margin-right: 193px;">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/sesametunisie"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/SesameTunisie"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/universitesesame"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">
            Copyright&copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            |
            <a href="https://universitesesame.com/" target="_blank">
              SESAME UNIVERSITY</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="assets/js/smoothproducts.min.js"></script>
  <script src="assets/js/theme.js"></script>
</body>
