<body>
  <div style="padding-top: 110px;"></div>
  <main class="page">
    <section id="team" class="pb-5">
      <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/yosra.png"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Yosra Hamemi</h4>
                      <p class="card-text">
                        yosra.hammami@sesame.com.tn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Product owner</h4>
                      <p class="card-text">
                        Associate Professor and Responsible in monitoring
                        students internships educational program coordination
                        with entreprises.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/ourTeamSamyphoto.jpg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Samy BenChaalia</h4>
                      <p class="card-text">
                        sami.benchaalia@sesame.com.tn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Scrum master</h4>
                      <p class="card-text">
                        Full stack web develop Computer engineering student at
                        Sesame University, Co-Founder and Coo at Tynass It.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/IMG_9244.jpg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Halim boussada</h4>
                      <p class="card-text">
                        halimboussada10@gmail.com
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Full stack web developer</h4>
                      <p class="card-text">
                        Freshly graduated full stack web developer, also have a
                        bachlor degree in electrical engineering.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/karim.jpg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Karim Hermi</h4>
                      <p class="card-text">
                        karim.hermi@tynass.com
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">UX/UI Developer</h4>
                      <p class="card-text">
                        CEO and Co-founder @Tynass It
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/Hamdi.jpg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Hamdi BOUROUNIA</h4>
                      <p class="card-text">
                        hamdi.bourounia@sesame.com.tn.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Front end developr</h4>
                      <p class="card-text">
                        IT engineer student at SESAME UNIVERSITY. In 2020, I
                        graduated from the Faculty Of Economics and Management
                        of Nabeul with an applied license in IT applied to
                        management. Passionate about IT and new technologies,
                        with strong technical and interpersonal skills to work
                        in a team and carry out a project.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/sahar.jpg"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Sahar El Amri</h4>
                      <p class="card-text">
                        sahar.elamri@sesame.com.tn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Ux/Ui Designer</h4>
                      <p class="card-text">
                        third-year software engineering student at sesame
                        universty. Besides the skills gained all along my
                        engineering years of studies, I am deeply passionate
                        about having an UI/UX Designer cap which led me to work
                        on the design of several projects.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/yasmine.png"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Yasmine Karray</h4>
                      <p class="card-text">
                        sahar.elamri@sesame.com.tn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">
                        IEEE SESAME Student Branch Chairwomen
                      </h4>
                      <p class="card-text">
                        A computer engineering student having demonstrated
                        undeniable leadership abilities, creative and adaptable
                        skills.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/saif.png"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Zakhama Saif Eddine</h4>
                      <p class="card-text">
                        saifeddine.zakhama@sesame.com.tn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">
                        web full-stack developer
                      </h4>
                      <p class="card-text">
                        computer engineering student , ex chair man in IEEE
                        SESAME SB
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div
              class="image-flip"
              ontouchstart="this.classList.toggle('hover');"
            >
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img
                          class="img-fluid"
                          src="../../assets/img/yasmine.png"
                          alt="card image"
                        />
                      </p>
                      <h4 class="card-title">Nour Mayssene Ben Regba</h4>
                      <p class="card-text">
                        nourmayssene.benregba@sesame.com.tn
                      </p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">
                        Web front end developer
                      </h4>
                      <p class="card-text">
                        A computer engineering student having demonstrated
                        undeniable leadership abilities, creative and adaptable
                        skills.
                      </p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            class="social-icon text-xs-center"
                            target="_blank"
                            href="#"
                          >
                            <i class="icon-social-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./Team member -->
        </div>
      </div>
    </section>
  </main>
  <footer id="footerpad" style="margin-top: 13px; padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8 mx-auto" style="margin-right: 193px;">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-google fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">
            Copyright&copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            |
            <a href="https://universitesesame.com/" target="_blank">
              SESAME UNIVERSITY</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="assets/js/smoothproducts.min.js"></script>
  <script src="assets/js/theme.js"></script>
</body>
