<body>
  <div style="padding-top: 80px;">
    <main class="page testimonials">
      <section class="clean-block clean-testimonials">
        <div class="container">
          <div class="block-heading">
            <img
              style="margin-bottom: 30px;"
              class=" "
              src="assets/img/syrine.png"
              width="270px"
            />
            <h4 class="text-muted">Welcome To</h4>
            <h2 class="text-info">Recruitment Forum</h2>
          </div>
          <p
            class="text-xs-center"
            style="
              text-align: center;
              max-width: 500px;
              margin: auto;
              opacity: 0.7;
            "
          >
            L’Ecole Supérieure des Sciences Appliquées et de Management SESAME
            est un établissement privé de formation supérieure agréé par l'Etat
            tunisien (ministère de l'enseignement supérieur) et situe dans le
            technopôle Elgazala.
          </p>
        </div>
        <div class="login-clean">
          <form method="post">
            <div class="form-group">
              <input
                class="border rounded border-info form-control"
                type="email"
                name="email"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <input
                class="border rounded border-info form-control"
                type="password"
                name="password"
                placeholder="Password"
              />
            </div>
            <div class="form-row" style="height: 184px;">
              <div class="col-3"></div>
              <div class="col">
                <a
                  class="text-capitalize text-center bg-white shadow-sm d-table-cell btn btn-sm animated-button victoria-one"
                  href="#"
                  style="margin-left: 0px; width: 265px;"
                  >Sign Up</a
                >
              </div>
              <div class="col-3"></div>
              <span
                ><small
                  ><a href="" class="text-muted"
                    >Don't have an Account?</a
                  > </small
                >&nbsp;<a href="sign_up_student.html" class="more"
                  >Sign in</a
                ></span
              >
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer id="footerpad" style="margin-top: 13px; padding-bottom: 0px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 mx-auto" style="margin-right: 193px;">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#"
                  ><span class="fa-stack fa-lg"
                    ><i class="fa fa-circle fa-stack-2x"></i
                    ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#"
                  ><span class="fa-stack fa-lg"
                    ><i class="fa fa-circle fa-stack-2x"></i
                    ><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#"
                  ><span class="fa-stack fa-lg"
                    ><i class="fa fa-circle fa-stack-2x"></i
                    ><i
                      class="fa fa-instagram fa-stack-1x fa-inverse"
                    ></i></span
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#"
                  ><span class="fa-stack fa-lg"
                    ><i class="fa fa-circle fa-stack-2x"></i
                    ><i class="fa fa-google fa-stack-1x fa-inverse"></i></span
                ></a>
              </li>
            </ul>
            <p class="copyright text-muted text-center">
              Copyright&copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              |
              <a href="https://universitesesame.com/" target="_blank">
                SESAME UNIVERSITY</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="assets/js/smoothproducts.min.js"></script>
  <script src="assets/js/theme.js"></script>
  <script src="assets/js/Button-Modal-popup-team-member.js"></script>
</body>
