<body>
  <nav
    class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
    style="box-shadow: 0px 0px; background: rgba(255, 255, 255, 0);"
  >
    <div class="container">
      <a
        class="navbar-brand logo"
        href="#"
        style="
          background: url('assets/img/Logos-Sesame-13.png') center / contain
            no-repeat;
        "
        >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp;</a
      ><button
        data-toggle="collapse"
        class="navbar-toggler float-right"
        data-target="#navcol-1"
      >
        <span class="sr-only">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navcol-1"
        style="max-width: 662.375px; margin-left: 0px; padding-left: 0px;"
      >
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" style="margin-left: 31px;">
            <a class="nav-link" (click)="home()">Home</a>
          </li>
          <li class="nav-item" style="margin-left: 31px;">
            <a class="nav-link" (click)="MyProfile()">Profile</a>
          </li>
          <li class="nav-item" style="margin-left: 31px;">
            <a class="nav-link" (click)="viewbookings()">MyBookings</a>
          </li>
          <li class="nav-item" style="margin-left: 31px;">
            <a class="nav-link active" (click)="booknow()">BookNow</a>
          </li>
          <li class="nav-item" style="margin-left: 31px; margin-top: -10px;">
            <div class="nav navbar-nav" id="navbar-list-1">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id=""
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <img
                      src="{{this.userimage}}"
                      width="40"
                      height="40"
                      class="rounded-circle"
                    />
                  </a>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <a class="dropdown-item" href="">Log Out</a>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="padding-top: 110px;">
    <section class="wrapper">
      <div class="container-fostrap">
        <div>
          <h2 class="text-info">
            Authenticity, honesty, & personal voice
          </h2>
          <p
            class="text-xs-center"
            style="
              text-align: center;
              max-width: 420px;
              margin: auto;
              opacity: 0.7;
            "
          >
            L’Ecole Supérieure des Sciences Appliquées et de Management SESAME
            est un établissement privé de formation supérieure agréé par l'Etat
            tunisien (ministère de l'enseignement supérieur) et implanté dans le
            technopôle Elgazala.
          </p>
        </div>
        <div class="content" style="margin-top: 20px;">
          <div class="container">
            <div class="row">
              <!-- this is our card -->
              <div class="col-xs-12 col-sm-4" *ngFor="let element of companies">
                <div class="card">
                  <div class="img-card">
                    <img src="{{this.element?.imageUrl}}" style="width: 60%;" />
                  </div>
                  <div class="card-content">
                    <p class="text-center text-justify">
                      {{this.element?.name}}
                    </p>
                  </div>
                  <div class="card-read-more">
                    <a
                      (click)="display(this.element?.name,this.element?.imageUrl)"
                      class="btn btn-link btn-block"
                    >
                      Book Now
                    </a>
                  </div>
                  <a (click)="vue(this.element?.email)" class="more"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer id="footerpad" style="margin-top: 13px; padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8 mx-auto" style="margin-right: 193px;">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/sesametunisie"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/SesameTunisie"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/universitesesame"
                ><span class="fa-stack fa-lg"
                  ><i class="fa fa-circle fa-stack-2x"></i
                  ><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span
              ></a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">
            Copyright&copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            |
            <a href="https://universitesesame.com/" target="_blank">
              SESAME UNIVERSITY</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script src="assets/js/smoothproducts.min.js"></script>
  <script src="assets/js/theme.js"></script>
  <script src="assets/js/Button-Modal-popup-team-member.js"></script>
</body>
<div id="id01" class="modal">
  <section
    style="width: 50%;"
    class="modal-content animate"
    action="/action_page.php"
    method="post"
  >
    <div class="imgcontainer">
      <span
        onclick="document.getElementById('id01').style.display='none'"
        class="close"
        title="Close Modal"
        >&times;</span
      >
    </div>
    <h1 style="color: rgb(94, 148, 230); text-align: center;">
      Match together
    </h1>
    <div class="text-center">
      <img alt="Avatar" class="avatar" [src]="userimage" />
      <img
        style="height: 30%; width: 20%; margin: 10%;"
        src="../../assets/img/double-arrow.png"
      />
      <img alt="Avatar" class="avatar" [src]="actualCompanyImg" />
    </div>

    <p
      style="
        color: rgb(185, 185, 185);
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
      "
    >
      Who said we can only match using tinder we can use it in a professionel
      way to match you with the best tech companyes
    </p>
    <p style="text-align: center; color: red; text-shadow: black;">
      Times in red are not abailable(FULL)
    </p>
    <p style="text-align: center; color: orange;">
      Orange background are times you allready booked
    </p>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let element of mintimes">
        <div
          class="myclasse"
          [style]="coleur(this.element?.affichage,this.element?.valeur)"
          (click)="bookforS(this.element?.id)"
        >
          {{this.element?.valeur}}
        </div>
      </div>
    </div>
  </section>
</div>
